body {
  background-image: url(../images/what-the-hex-dark.png);
  margin-bottom: 60px;
}

.bg-custom-dark {
  background-color: black;
  padding: auto 10px;
}

#aboutme, #connect {
  color: #f9f9ff;
  padding: 10px;
  margin-bottom: 100px;
  box-sizing: border-box;
}

#aboutme h1, #connect h1 {
  font-size: 24px;
  border-bottom: 1px solid #f9f9ff;
  padding: 10px;
}

#aboutme p {
  padding: 10px;
}

#connect {
  height: fit-content;
  width: 100%;
}

.border {
  border-color: white;
}

html {
  min-height: 100%;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: black;
}

#myPic {
  float: left;
  padding: 10px;
}

.social {
  width: 78px;
  height: 78px;
  margin-top: 8px;
  margin-right: 5px;
  display: inline-flex;
}

 .column {
  margin-bottom: 10px;
} 

.project-1,
.project-2,
.project-3,
.project-4,
.project-5 {
    position: absolute;
    top: 165px;
    background-color: rgb(54, 54, 54);
    width: 275px;
    text-align: center;
    z-index: 998;
    height: 25px;
    padding-top: 5px;
}